@import "../../utilities/_variables";
@import "../../utilities/_mixins";

@mixin align-right-div-contents {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
@mixin hor-fill-screen {
  width: 90%;
}
@mixin vert-fill-screen {
  min-height: 100vh;
}

@keyframes animate-svg {
  to{
    stroke-dashoffset: 0;
  }
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  .main {
    @include hor-fill-screen();

    .home-section {
      @include vert-fill-screen();
      .hello {
        @include flex-center-div-contents();
        p {
          font-size: 60px;
        }
      }

      .splash-container {
        @include flex-center-div-contents();
        img {
          height: 370px;
        }

        @media (max-width: $small) {
          img {
            height: 250px;
          }
        }
      }
    }

    .about-section {
      .story {
        @include flex-center-div-contents();
        p {
          font-size: 20px;
          text-align: left;
        }
      }
    }

    .projects-section {
      @include flex-center-div-contents();
      margin: auto;
      width: 80%;
      flex-wrap: wrap;
      padding-top: 60px;
      .skill-circle {
        width: 200px;
        height: 200px;
        margin: 10px 30px;
        @include flex-center-div-contents();
        border-radius: 50%;
        box-shadow: -2px -2px 2px #77aaff, 2px 2px 2px #e477ff;
        .svg-container {
          width: 140px;
          #react-svg,#nodejs-svg,#reactnative-svg,#typescript-svg {
            stroke-dasharray: 1095.2650146484375;
            stroke-dashoffset: 1095.2650146484375;
            animation: animate-svg 4s ease;
            animation-fill-mode: forwards;
          }
        }
      }
    }
    @media (max-width: $small) {
      .projects-section {
        width: 100%;
      }
    }
  }
}

.dark-mode {
  background-color: $bg-dark-mode;
  color: $white-text;
}
