@import "../../utilities/_variables";
$bg-dark-mode: rgb(29, 23, 23);
$grey-dark-mode: rgba(66, 66, 66, 0.712);
$white-text: #fff;
$primary: rgb(0, 132, 255);

@mixin center-div-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin align-right-div-contents {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
@mixin hor-fill-screen {
  width: 90%;
}
@mixin vert-fill-screen {
  min-height: 100vh;
}

.App-main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

  .main {
    @include hor-fill-screen();

    .home-section {
      @include vert-fill-screen();
      .hello {
        @include center-div-contents();
        p {
          font-size: 60px;
        }
      }

      .splash-container {
        @include center-div-contents();
        img {
          height: 370px;
        }

        @media (max-width: $small) {
          img {
            height: 250px;
          }
        }
      }
    }

    .about-section {
      .story {
        @include center-div-contents();
        p {
          font-size: 20px;
          text-align: left;
        }
      }
    }
  }
}

.dark-mode {
  background-color: $bg-dark-mode;
  color: $white-text;
}
