@mixin center-div-contents {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@mixin align-right-div-contents {
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
}
@mixin fill-screen {
  width: 100%;
  min-height: 100vh;
}
.main {
  @include fill-screen();

  .home-section {
    @include fill-screen();

    .hello {
      @include center-div-contents();
      p {
        font-size: 60px;
      }
    }

    .splash-container {
      @include align-right-div-contents();
      img {
        height: 450px;
      }
    }
  }
  
  .about-section {
    @include fill-screen();

    .story {
      @include center-div-contents();
      p {
        font-size: 20px;
        text-align: left;
      }
    }
  }
}
