$bg-dark-mode: rgb(29, 23, 23);
$grey-dark-mode: rgba(66, 66, 66, 0.712);
$white-text: #fff;
$primary: rgb(0, 132, 255);

$small: 599px;
$medium_lower_bound: 600px;
$medium_upper_bound: 1199px;
$large: 1200px;
